<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Random Users - DEMO</title>
</head>
<body>
  <h1>Random Users - DEMO</h1>

  <h2>Users By First Letter Last Name</h2>

  <form action="filteredrandomusers.html" th:attr="action=@{/randomusers/firstletter}">
    <fieldset>
      <input type="text" name="letter" placeholder="enter first letter" />
      <input type="text" name="seed" placeholder="enter seed"/>
      <input type="text" name="results" placeholder="enter results" />
      <input type="submit" value="by username"/>
    </fieldset>
  </form>

  <table>
    <tr>
      <td>Name</td>
      <td>User Name</td>
    </tr>
    <tr th:each="filteredRandomUser: ${filteredRandomUsers}">
      <td th:text="${filteredRandomUser.getName().getFirst()} + ' ' + ${filteredRandomUser.getName().getLast()}">NAME</td>
      <td th:text="${filteredRandomUser.getLogin().getUsername()}">USER NAME</td>
    </tr>
  </table>
  <form action="index.html" th:attr="action=@{/}">
    <button type="submit">Return To Index</button>
  </form>
</body>
</html>
