<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Random Users - DEMO</title>
</head>
<body>
  <h1>Random Users - DEMO</h1>

  <h2>User By UserName</h2>

  <form action="userbyusername.html" th:attr="action=@{/randomusers/byusername}">
    <fieldset>
      <input type="text" name="username" placeholder="enter username"/>
      <input type="text" name="seed" placeholder="enter seed"/>
      <input type="submit" value="Submit"/>
    </fieldset>
  </form>

  <div th:text="${user.get().getLogin().getUsername()} + ' ' +
  ${user.get().getName().getFirst()} + ' ' +
  ${user.get().getName().getLast()}">USER</div>

  <form action="index.html" th:attr="action=@{/}">
    <button type="submit">Return To Index</button>
  </form>
</body>
</html>
